{% extends 'layout.twig' %}

{% block title %}Admin Panel - Create new Status{% endblock %}

{% block content %}
    <div class="status-header">
        <h1>
            Create new status
        </h1>
    </div>
    <div class="status-container">
        <form action="#" method="post">
            {{ form_widget(statusForm) }}
        </form>
    </div>
{% endblock %}