{% extends 'layout.twig' %}

{% block title %}Change password{% endblock %}

{% block content %}
	<div class="register-header">
		<h1>
			Change your password
		</h1>
	</div>

    <div class="register-container">
		<form action="#" method="post">
			{{ form_widget(form) }}
		</form>
	</div>
{% endblock %}