{% extends 'layout.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="login-header">
		<h1>
        Zaloguj się !
		</h1>
		
		 <p>
			Nie masz jeszcze konta ? <a href="{{ url('/auth/register')}}" title="Register">Załóż je!</a>
		</p>
	</div>
    {{ error|trans }}
    <div class="login-container">
		<form action="{{ path('tickets_login_check') }}" method="post">
			{{ form_widget(form) }}
		</form>
	</div>
   
{% endblock %}