{% extends 'layout.twig' %}

{% block title %}Sign in{% endblock %}

{% block content %}
	<div class="login-header">
		<h1>
       Sign in!
		</h1>
		
		 <p>
			Don't have an account ? <a href="{{ url('/auth/register')}}" title="Register">Create it!</a>
		</p>
	</div>
    {{ error|trans }}
    <div class="login-container">
		<form action="{{ path('tickets_login_check') }}" method="post">
			{{ form_widget(form) }}
		</form>
	</div>
   
{% endblock %}