{% extends 'layout.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
	<div class="register-header">
		<h1>
			Registration
		</h1>
		
		<p>
			Already have an account ? <a href="{{ url('/auth/login')}}" title="Register">Sign in!</a>
		</p>
	</div>
	
    {{ error|trans }}
    <div class="register-container">
		<form action="{{ url('/auth/register')}}" method="post">
			{{ form_widget(form) }}
		</form>
	</div>
{% endblock %}